.recipe-details {
    background-color: rgba(236, 205, 240);
    border: 1px solid rgb(227, 216, 66);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgb(255, 255, 0);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    color:rgb(255, 255, 255);
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
.close-button:hover {
    color: #d880c6;
}

h2 {
    color:rgb(103, 132, 227);
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    width: 100%; 
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

h3 {
    color:rgb(127, 153, 255);
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
   list-style-type: none;
   padding-left: 0;
   text-align: center;
   margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
    color: rgb(86, 118, 145);
    
}
ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol li {
    text-align: left;
    width: 100%;
    color: rgb(86, 118, 145);
    padding-right: 20px;
}
