.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 233, 130, 0.5);
    border: 1px solid rgb(128, 255, 0);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgb(0, 255, 145);
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 570px;
    position: relative;
}

.recipe-card:hover {
    transform: scale(1.02);
}

.recipe-card h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(134, 247, 241);
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 0;
    padding-top: 0;
    display: block; /* this is to prevent 
    extra space below the image*/
    object-position: top center;
    position: absolute;
    top: 100px;
    left:0;
}

.recipe-card h4 {
    font-size: 1.1em;
    color:rgb(134, 247, 241);
    margin-top: 15px;
    margin-bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
}

.recipe-card ul {
    list-style: none;
    padding: 0; /* removes default list styling.*/
    margin-bottom:  10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 420px;
}

.recipe-card ul li {
    font-size: 1em;
    color:rgb(50, 27, 202);
    padding: 5px 0; /*adds 5px of padding to top and bottom*/
    align-items: center;
    white-space: nowrap;
}

.recipe-card ul li:last-child {
    border-bottom: none;
}