.app {
  font-family: sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(39, 64, 100);
  min-height: 100vh;
}

h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* > selects only the elements that are direct children of the element specified before it */
.app > .controls-container {
  display: flex;
  gap:  20px;
}