
.movie-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(39, 64, 100, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1000;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.movie-details {
    background-color: rgb(22, 34, 48);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    overflow-y:auto;
    max-height: 90vh;
    padding: 30px;
    max-width: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.movie-details::-webkit-scrollbar {
    width: 15px;
}
.movie-details::-webkit-scrollbar-track {
    background: rgba(10, 10, 30, 0.436);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0p;
}
.movie-details::-webkit-scrollbar-thumb {
    background-color: rgb(28, 68, 114); 
    border: 3px solid rgb(28, 68, 114);
        border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0p; 
}


@media (min-width: 768px) {
    .movie-details {
        flex-direction: row;
        overflow-x: hidden;
    }
}
.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    align-content: center;
    text-align: center;
    transition: color 0.2s ease-in-out;
}

.close-button:hover {
    color: #305ca3;
}

.movie-details img.movie-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 0px;
    flex-shrink: 0;
    height: auto;
}



@media(min-width: 768px) {
    .movie-details img.movie-poster {
        margin-bottom: 0;
    }
}

.details-content {
    flex-grow: 1; /*Allows content to take up remaining space*/
    display: flex;
    flex-direction: column;
}

.details-content h2 {
font-size: 2.2rem;
font-weight: bold;
margin-bottom: 10px;
color: #faf8f8;
margin-top: 0;
}

.details-content .tagline {
    font-style: italic;
    color: #fafafa;
    margin-bottom: 15px;
}

.details-content p {
    line-height: 1.7;
    margin-bottom: 10px;
    color: #f6f2f2;
}

.details-content a {
    color: rgb(58, 112, 43);
    padding-bottom: 20px;
}

@media(min-width: 768px) {
    .movie-details img.movie-poster {
        margin-bottom: 0;
    }
}