.pagination {
    display: flex;
    justify-content: center; /*horizontal alignment*/
    align-items: center; /*vertical alignment*/
    margin: 15px auto;
    padding: 10px 0;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 90%;
}

.pagination button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.pagination button:hover:not(:disabled) {
    background-color: #ddd;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: rgb(211, 239, 154);
    color: rgb(0, 0, 0);
    border-color: #bdec6b;
}

.pagination span {
    margin: 0 10px;
    color: #777;
}

/*Media Queries for Pagination Responsiveness --- */

@media (max-width: 768px) {
    .pagination {
        padding: 8px 0; /*less vertical padding*/
        gap: 3px;
    }
    .pagination button {
        padding: 6px 10px;
        font-size: 0.9rem;
    }
    .pagination span {
        margin: 0 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .pagination {
        padding: 4px 8px;
        font-size: 0.8rem;
        min-width: 30px;
    }
    .pagination span {
        margin: 0 5px;
        font-size: 0.8rem;
    }
}

@media (max-width: 360px) {
    .pagination button {
        padding: 4px 8px;
        font-size: 0.8rem;
    }
    .pagination span {
        margin: 0 5px;
        font-size: 0.8rem;
    }
}