.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.search-bar input[type="text"] {
    flex-grow: 1; /*For direct child of flex container determines how much the flex item will grow relative to other flex items in the containewr when there is extra space available along the main axis*/
    padding: 10px;
    border: 1px solid #2f9dd4;
    border-radius: 5px;
    font-size: 1rem;
}

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: greenyellow;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}

.search-bar button[type="submit"] {
    background-color: rgb(234, 115, 121);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.search-bar button[type="submit"]:hover {
    background-color:rgb(244, 78, 89);
    color: rgb(255, 253, 253)
}

.search-bar button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

